@import './reset';
@import './variables';
@import './header';
@import './sliders';
@import './auth';
// @import './poll';
// @import './media';

body {
    font-family: 'BPG Algeti', sans-serif;
    // background-color: $elegant-white;
    overflow-x: hidden;
}

.main-container {
    height: 90vh;
    width: 100%;
}

.holy {
    font-size: 12px;
}
